{% extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% load ratings %}
{% load hitcount_tags %}
{% block content%}
<body>
    <div class="row">
            <button class="btn btn-outline-primary enterhoodbtn navigation"> <a href="{% url 'addbusiness' %}">ADD</a></button>
       {% for bs in business %}
        <ul>
            <li>
               
               <div class="card" style="width: 18rem; height: 20rem;">
                 <img  style="height: 10rem;"class="card-img-top" src="{{bs.image}}" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title">{{bs.name}}</h5>
                   <p class="card-text">{{bs.description}}</p>
                   
                   <iframe src="{{ bs.location.url}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                 </div>
                 {% for comment in comment %}
                <li style="list-style: none;">
                    {{comment.user.name}}
                    {{comment.services}}
                    {{comment.comment}}
                    {{comment.commented_on}}
                </li>
             {% endfor%}
                <form action="{ url 'comment'}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-success btn-lg" value="comment">
                </form>
                 <div class="footer">
                     <div style="margin-left: 1em;">
                         <button class="btn btn-outline-primary enterhoodbtn navigation"> <a href="{% url 'services' %}">Services</a></button>
                         <button class="btn btn-outline-primary enterhoodbtn navigation"> <a href="{% url 'housing' %}">Housing</a></button>

                     </div>
                 </div>
               </div>
            </li>
        </ul>
       {% endfor %}
  {% get_hit_count_js_variables for name as hitcount %}
<script type="text/javascript">
jQuery(document).ready(function($) {
  // use the template tags in our JavaScript call
  $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
    .done(function(data){
      $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
      $('#hit-response').text(data.hit_message);
  }).fail(function(data){
      console.log('POST failed');
      console.log(data);
  });
});
</script>
    </div>
    <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
   </body>
   {% endblock %}